<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :user_image %>
    <%= f.text_field :user_image %>
  </div>

  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>

  <div class="field">
    <%= f.label :main_email %>
    <%= f.text_field :main_email %>
  </div>

  <div class="field">
    <%= f.label :main_phone %>
    <%= f.text_field :main_phone %>
  </div>

  <div class="field">
    <%= f.label :office_phone %>
    <%= f.text_field :office_phone %>
  </div>

  <div class="field">
    <%= f.label :one_line_address %>
    <%= f.text_field :one_line_address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
