<%= render 'profiles/shared/header_nav'%>
<div class="container content profile">
	<div class="row">
<%= render 'profiles/shared/left_sidebar'%>
<!-- Profile Container-->
<!-- Profile Content -->
<div class="col-md-9">
	<div class="profile-body margin-bottom-20">
		<div class="tab-v1">
			<ul class="nav nav-justified nav-tabs">
				<li class="active"><a data-toggle="tab" href="#profile" id="editprofile">Edit Profile</a></li>
				<li><a data-toggle="tab" href="#passwordTab" id="changepassword">Change Password</a></li>
				<li><a data-toggle="tab" href="#payment" id="paymentoptions">Payment Options</a></li>
				<li><a data-toggle="tab" href="#settings" id="notificationsettings">Notification Settings</a></li>
			</ul>
			<div class="tab-content">
				<div id="profile" class="profile-edit tab-pane fade in active">
					<h2 class="heading-md">Manage your Contact Details.</h2>
					<p>Below are the contact details we have on file for your account.</p>
					<br>
					<dl class="dl-horizontal">
						<dt><strong>Edit your details </strong></dt>
						<dd>
							<span>
								<a class="pull-right">
									<i id="EditDetails" class="fa fa-pencil"></i>
								</a>
							</span>
						</dd>
						<hr>
						<dt><strong>Your Name</strong></dt>
						<dd>
							<%=@profile.name%>
						</dd>
						<hr>
						<dt><strong>Your Chat Handle</strong></dt>
						<dd>
							<%=@profile.handle%>
						</dd>
						<hr>
						<dt><strong>Your ID </strong></dt>
						<dd>
							<%=@profile.id%>
						</dd>
						<hr>
						<dt><strong>Company name </strong></dt>
						<dd>
							<%=@profile.company_name%>
						</dd>
						<hr>
						<dt><strong>Primary Email Address </strong></dt>
						<dd>
							<%=@profile.main_email%>
						</dd>
						<hr>
						<dt><strong>Phone Number </strong></dt>
						<dd>
							<%=@profile.main_phone%>
						</dd>
						<hr>
						<dt><strong>Office Number </strong></dt>
						<dd>
							<%=@profile.office_phone%>
						</dd>
						<hr>
						<dt><strong>Address </strong></dt>
						<dd>
							<%=@profile.one_line_address%>
						</dd>
					</dl>
				</div>

					<div id="EditDetailsForm" class="profile-edit">
						<h2 class="heading-md">Manage your Contact Details.</h2>
						<p>Below are the contact details we have on file for your account.</p>
						<br>
					
<%= form_for(@profile, html: { multipart: true, :class => 'sky-form'}) do |f| %>
						<dl class="dl-horizontal">
							<dt>Your name</dt>
							<dd>
								<section>
									<label class="input">
										<i class="icon-append fa fa-user"></i>
										<%= f.text_field :name, :placeholder => "Name", :value => @profile.name%>
										<b class="tooltip tooltip-bottom-right">Needed to display on the website</b>
									</label>
								</section>
							</dd>
							<dt>Your chat handle</dt>
							<dd>
								<section>
									<label class="input">
										<i class="icon-append fa fa-user"></i>
										<%= f.text_field :handle, :placeholder => "Chat handle", :value => @profile.handle%>
										<b class="tooltip tooltip-bottom-right">Needed to take part in chat</b>
									</label>
								</section>
							</dd>
							<dt>Company name</dt>
							<dd>
								<section>
									<label class="input">
										<i class="icon-append fa fa-building"></i>
										<%= f.text_field :company_name, :placeholder => "Company", :value => @profile.company_name%>
										<b class="tooltip tooltip-bottom-right">Needed to display on the website</b>
									</label>
								</section>
							</dd>
							<dt>Email address</dt>
							<dd>
								<section>
									<label class="input">
										<i class="icon-append fa fa-envelope"></i>
										<%= f.email_field :main_email, :placeholder => "Email address", :value => @profile.main_email%>
										<b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
									</label>
								</section>
							</dd>
							<dt>Phone number</dt>
							<dd>
								<section>
									<label class="input">
										<i class="icon-append fa fa-phone"></i>
										<%= f.text_field :main_phone, :placeholder => "Phone number", :value => @profile.main_phone%>
										<b class="tooltip tooltip-bottom-right">Allows to get in touch with you</b>
									</label>
								</section>
							</dd>

						<dt>Office number</dt>
						<dd>
							<section>
								<label class="input">
									<i class="icon-append fa fa-phone"></i>
									<%= f.text_field :office_phone, :placeholder => "Office number", :value => @profile.office_phone%>
									<b class="tooltip tooltip-bottom-right">Helps us to stay in touch</b>
								</label>
							</section>
						</dd>
							<dt>Address</dt>
							<dd>
								<section>
									<label class="input">
										<i class="icon-append fa fa-lock"></i>
										<%= f.text_field :one_line_address, :placeholder => "Address", :value => @profile.one_line_address%>
										<b class="tooltip tooltip-bottom-right">Helps us to stay in touch	</b>
									</label>
								</section>
							</dd>
							<dt>Please add a picture.</dt>
							<dd>
								<section>
									<label class="btn btn-default">
									<span class="glyphicon glyphicon-folder-open"></span>
										 Upload Image<%= f.file_field :avatar, class: "hidden"%>
									</label>
								</section>

							</dd>
						</dl>
						<a class="btn-u btn-u-default" href="/profiles/<%=@profile.id%>">Cancel</a>
						<%= f.submit "Save Changes", class: "btn-u" %>
			<%end%>
				</div>

				<div id="passwordTab" class="profile-edit tab-pane fade">
						 <h2 class="heading-md">Manage your Security Settings</h2>
					<p>Change your password.</p>
					<br>
					<%= form_for(resource, as: resource_name, :html => {:class => 'sky-form', :id => 'myform'}, :url => { :action => "update_password" })do |f| %>
					<%= devise_error_messages! %>
						<dl class="dl-horizontal">
							<dt>Enter your password</dt>
							<dd>
								<section>
									<label class="input">
										<i class="icon-append fa fa-lock"></i>
										<%= f.password_field :password, :placeholder => "Enter new password", :name	=>"password", :id => "password"%>
										<b class="tooltip tooltip-bottom-right">Don't forget your password</b>
									</label>
								</section>
							</dd>
							<dt>Confirm Password</dt>
							<dd>
								<section>
									<label class="input">
										<i class="icon-append fa fa-lock"></i>
										<%= f.password_field :password_confirmation, :placeholder => "Confirm new password", :name	=> "password_confirmation", :id => "password_confirmation"%>
										<b class="tooltip tooltip-bottom-right">Don't forget your password</b>
									</label>
								</section>
							</dd>
						</dl>
						<!-- DD - had to change the checkbox from f.check_box to get the jquery validator stuff working (updatepass.js) -->
						<label class="toggle toggle-change"><input type="checkbox" id="agreed_terms" name="agreed_terms" value="agreed_terms " /><i class="no-rounded"></i>Agree Terms?</label>
						<br>
						<section>
							<label class="checkbox"><%= f.check_box :agreed_subscribe , {}, true %><i></i><a href="#">Subscribe to our newsletter?</a></label>
						</section>
						<a class="btn-u btn-u-default" href="/profiles/<%=@profile.id%>">Cancel</a>
						<%= f.submit "Save Changes", class: "btn-u" %>
  		<%end%>
				</div>

				<div id="payment" class="profile-edit tab-pane fade">
					<h2 class="heading-md">Manage your Payment Settings</h2>
					<p>Below are the payment options for your account.</p>
					<br>
					<form class="sky-form" id="sky-form" action="#">
						<!--Checkout-Form-->
						<section>
							<div class="inline-group">
								<label class="radio"><input type="radio" checked="" name="radio-inline"><i class="rounded-x"></i>Visa</label>
								<label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>MasterCard</label>
								<label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>PayPal</label>
							</div>
						</section>

						<section>
							<label class="input">
								<input type="text" name="name" placeholder="Name on card">
							</label>
						</section>

						<div class="row">
							<section class="col col-10">
								<label class="input">
									<input type="text" name="card" id="card" placeholder="Card number">
								</label>
							</section>
							<section class="col col-2">
								<label class="input">
									<input type="text" name="cvv" id="cvv" placeholder="CVV2">
								</label>
							</section>
						</div>

						<div class="row">
							<label class="label col col-4">Expiration date</label>
							<section class="col col-5">
								<label class="select">
									<select name="month">
										<option disabled="" selected="" value="0">Month</option>
										<option value="1">January</option>
										<option value="1">February</option>
										<option value="3">March</option>
										<option value="4">April</option>
										<option value="5">May</option>
										<option value="6">June</option>
										<option value="7">July</option>
										<option value="8">August</option>
										<option value="9">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
									<i></i>
								</label>
							</section>
							<section class="col col-3">
								<label class="input">
									<input type="text" placeholder="Year" id="year" name="year">
								</label>
							</section>
						</div>
						<a class="btn-u btn-u-default" href="/profiles/<%=@profile.id%>">Cancel</a>
						<button class="btn-u" type="submit">Save Changes</button>
						<!--End Checkout-Form-->
					</form>
				</div>

				<div id="settings" class="profile-edit tab-pane fade">
					<h2 class="heading-md">Manage your communication preferences.</h2>
					<p>I am happy to receive communications by:- </p>
					<br>
	<%= form_for(@notification, :html => {:class => 'sky-form'}, :url => { :action => "create_update_notifications" } ) do |f| %>

						<%= f.hidden_field :user_id, :value => current_user.id %>
						<label class="toggle"><%= f.check_box :allow_emailmsg , {}, true %><i class="no-rounded"><a href="#"></i>Subscribing to our email newsletter</a></label>
						<hr>
						<label class="toggle"><%= f.check_box :allow_smsmsg , {}, true%><i class="no-rounded"><a href="#"></i>Text message to the mobile number on my account</a></label>
						<hr>
						<label class="toggle"><%= f.check_box :allow_socialmsg , {}, true %><i class="no-rounded"><a href="#"></i>Social media account</a></label>
						<hr>
						<label class="toggle"><%= f.check_box :allow_webmsg , {}, true %><i class="no-rounded"><a href="#"></i>Message notification on this website</a></label>
						<hr>
						<label class="toggle"><%= f.check_box :allow_post , {}, true %><i class="no-rounded"><a href="#"></i>Post to my home address</a></label>
						<hr>
						<a class="btn-u btn-u-default" href="/profiles/<%=@profile.id%>">Cancel</a>
						<%= f.submit "Save Changes", class: "btn-u" %>
<%end%>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- End Profile Content -->
</div><!--/end row-->
</div>
<!--=== End Profile ===-->
<%= render 'profiles/shared/footer'%>
<%= render 'profiles/shared/style_switcher'%>

<script type="text/javascript">
jQuery(document).ready(function() {
	App.init();
	App.initScrollBar();
	RegForm.initRegForm();
	Datepicker.initDatepicker();
	CheckoutForm.initCheckoutForm();
	StyleSwitcher.initStyleSwitcher();
		$('#EditDetailsForm').hide();
		var EditDetailsState = "Nothing";
});
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->


<script type="text/javascript">
//set the initial state of variable
			//var EditDetailsState = 2;
$(document).ready(function(){
	$('#EditDetails').click(function() {
		//set the state to indicate the edit details form should be shown
			EditDetailsState = "ShowEdit"
			//alert (EditDetailsState);
			//alert("In edit details and setting state ShowEdit");
// show the edit details form and hide the summary
			$('#EditDetailsForm').show();
			$('#profile').hide();
});

	$('#DisplayDetails').click(function() {
		//set the state to indicate the summary details  should be shown
				EditDetailsState = "DontShowEdit"
				//alert (EditDetailsState);
				//alert("In display details and setting state DontShowEdit");
		// show the summary form and hide the edit details form
				$('#EditDetailsForm').hide();
				$('#profile').show();
		});

	$('#changepassword').click(function() {
					// this is the function I need to call
				$('#EditDetailsForm').hide();
				$('#profile').hide();
				//alert(EditDetailsState);
		});


	$('#paymentoptions').click(function() {
		// the payment options tab has been clicked so hide the edit details form
		// also hide the summary details - can't be sure which is visible
				$('#EditDetailsForm').hide();
				$('#profile').hide();
});

	$('#notificationsettings').click(function() {
		// the notification settings tab has been clicked so hide the edit details form
		// also hide the summary details - can't be sure which is visible
				$('#EditDetailsForm').hide();
				$('#profile').hide();
});

	$('#editprofile').click(function() {
		// the edit profile tab has been clicked so check the state to
		//determine which one should be shown and which one should be hidden
				//alert(EditDetailsState);
				//alert("I am in the edit profile function");
				if (EditDetailsState = "DontShowEdit")	{
						$('#EditDetailsForm').hide();
						$('#profile').show();
						//alert("I am in the first if block so state must be DontShowEdit");
				}else if (EditDetailsState = "ShowEdit") {
					//alert("I am in the second if block so state must be ShowEdit");
					//alert(EditDetailsState);
					$('#EditDetailsForm').show();
					$('#profile').hide();
				}
				else if (EditDetailsState="Nothing"){
					$('#EditDetailsForm').hide();
					$('#profile').show();
					//alert("I am in the third if block so state must be Nothing");
				}
});

});

</script>



<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
