<%=render '/pages/shared/header_nav'%>
			<!--=== Profile ===-->
		<div class="container content profile">
			<div class="row">
				<!-- Group Content / Profile Style-->
				<div class="col-md-12">
					<div class="profile-body">
						<div class="row margin-bottom-20">
							<!--Group Post-->
							<div class="col-sm-6">
								<div class="panel panel-profile no-bg">
									<div class="panel-heading overflow-h">
										<h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i>Group Notices</h2>
										<a href="#"><i class="fa fa-cog pull-right"></i></a>
									</div>
									<div id="scrollbar" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
                                            <%counter ||= 0%> 
                                            <% @notice.each do |notice| %>
                                            <%counter = counter + 1%>
                                        <div class="profile-post color-one">
											<span class="profile-post-numb"><%=sprintf '%02d', counter%></span>
											<div class="profile-post-in">   
    						                    <h3 class="heading-xs"><a href="#" role="button" class="heading-xs" data-toggle="modal" data-target=".<%=notice.title.gsub(' ', '-')%>"><%=notice.title%></a></h3>
												<p><%=notice.content[0..70  ].gsub(/\s\w+\s*$/,'...')%></p>
											</div>
										</div>
                                        <div>
                                                <!-- Large modal -->
                                                <div class="modal fade <%=notice.title.gsub(' ', '-')%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                <h4 id="myLargeModalLabel2" class="modal-title"><%=notice.title%></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p><%=notice.content%></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Large modal -->
                                        </div>
                                            <% end %>                                    
									</div>
								</div>
							</div>
							<!--End Profile Post-->

							<!--Profile Event-->
							<div class="col-sm-6 md-margin-bottom-20">
								<div class="panel panel-profile no-bg">
									<div class="panel-heading overflow-h">
										<h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i>Upcoming Events</h2>
										<a href="#"><i class="fa fa-cog pull-right"></i></a>
									</div>
									<div id="scrollbar2" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
										 <% @event.each do |event |%>
                                        <div class="profile-event">
											<div class="date-formats">
												<span><%= sprintf '%02d', event.date.wday%></span>
												<small><%=sprintf '%02d', event.date.month%>, <%= event.date.year%></small>
											</div>
											<div class="overflow-h">
                                                <h3 class="heading-xs"><a href="#" role="button" class="heading-xs" data-toggle="modal" data-target=".<%=event.title.gsub(' ', '-')%>"><%=event.title%></a></h3>
                                                <p><%=event.content[0..70  ].gsub(/\s\w+\s*$/,'...')%></p>
											</div>
										</div>

                                        <div>
                                                <!-- Large modal -->
                                                <div class="modal fade <%=event.title.gsub(' ', '-')%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                                <h4 id="myLargeModalLabel2" class="modal-title"><%=event.title%></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p><%=event.content%></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Large modal -->
                                        </div>
                                         <% end%><br>							
									</div>
								</div>
							</div>
							<!--End Profile Event-->
						</div><!--/end row-->
						</div>
				</div>
				<!-- End Profile Content -->
			</div>
		</div><!--/container-->
		<!--=== End Profile ===-->

	<%= render'/pages/shared/style_switcher'%>

	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initCounter();
			App.initScrollBar();
			Datepicker.initDatepicker();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
	<%= render 'profiles/shared/footer'%>
