<!DOCTYPE html>
<html>
  <head>
    <title>DeviseApp</title>

    	<!-- Meta -->
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<!-- Meta -->

    <!-- load cubeportfolio css file -->
    <link rel="stylesheet" href="../assets/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
  <!-- load cubeportfolio jQuery plugin -->
    <script type="text/javascript" src="../assets/plugins/cube-portfolio.js"></script>
    <script type="text/javascript" src="../assets/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-0.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-10.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-2-ns.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-2.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-3.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-3-ns.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-4-fw-ns.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-4-fw-tx.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-4-fw.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-5-fw-ns.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-5-fw-tx.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-5-fw.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-6-fw-ns.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-6-fw-tx.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-6-fw.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-carousel.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-cols.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/cube-portfolio-lightbox.js"></script>
    <script type="text/javascript" src="../assets/plugins/cube-portfolio/masonry-v1.js"></script>
    <script type="text/javascript" src="../assets/plugins/ladda-buttons.js"></script>
  	<!-- Favicon -->
  	<link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
  	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=cyrillic,latin">

  </head>
    <!-- <p class="notice"><%= notice%></p>
    <p class="alert"><%= alert%></p> -->
    <%= yield %>
    <script type="text/javascript">
    jQuery('#grid-container').cubeportfolio({
        // place here the options. Don't forget to separate them by comma
    });
    </script>
  </body>
</html>
