<!DOCTYPE html>
<html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

  <head>
    <title>DeviseApp</title>

    	<!-- Meta -->
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory -->
    	<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    	<link rel="stylesheet" href="../assets/style.css">

    	<!-- CSS Header and Footer -->
    	<link rel="stylesheet" href="../assets/headers/header-v6.css">
      <link rel="stylesheet" href="../assets/headers/header-default.css">
    	<link rel="stylesheet" href="../assets/footers/footer-v1.css">

      <!-- CSS Implementing Plugins -->
    	<link rel="stylesheet" href="../assets/animate.css">
    	<link rel="stylesheet" href="../assets/line-icons/line-icons.css">
    	<link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    	<link rel="stylesheet" href="../assets/brand-buttons/brand-buttons-inversed.css">
      <link rel="stylesheet" href="../assets/scrollbar/css/jquery.mCustomScrollbar.css">
      <link rel="stylesheet" href="../assets/sky-forms-pro/skyforms/css/sky-forms.css">
      <link rel="stylesheet" href="../assets/sky-forms-pro/skyforms/custom/custom-sky-forms.css">


    	<!-- CSS Theme -->
    	<link rel="stylesheet" href="../assets/theme-colors/default.css" id="style_color">
    	<link rel="stylesheet" href="../assets/theme-skins/dark.css">

    	<!-- CSS Page Style -->
    	<link rel="stylesheet" href="../assets/pages/page_log_reg_v3.css">
      <link rel="stylesheet" href="../assets/pages/profile.css">
      <link rel="stylesheet" href="../assets/pages/shortcode_timeline2.css">

    	<!-- CSS Customization -->
    	<link rel="stylesheet" href="../assets/custom.css">


  	<!-- Meta -->

  	<!-- Favicon -->
  	<link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
  	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=cyrillic,latin">

    <!-- JS Global Compulsory -->
    <!--<script type="text/javascript" src="../assets/jquery/jquery.min.js"></script> being added through application.js-->
  	<script type="text/javascript" src="../assets/jquery/jquery-migrate.min.js"></script>
  	<script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>

  	<!-- JS Implementing Plugins -->
  	<script type="text/javascript" src="../assets/back-to-top.js"></script>
  	<script type="text/javascript" src="../assets/backstretch/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="../assets/smoothScroll.js"></script>
  	<script type="text/javascript" src="../assets/plugins/style-switcher.js"></script>
    <script type="text/javascript" src="../assets/counter/waypoints.min.js"></script>
    <script type="text/javascript" src="../assets/counter/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="../assets/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../assets/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
  	<script type="text/javascript" src="../assets/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="../assets/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	  <script type="text/javascript" src="../assets/circles-master/circles.js"></script>
  	<!-- JS Customization -->
  	<script type="text/javascript" src="../assets/custom.js"></script>

  	<!-- JS Page Level -->
  	<script type="text/javascript" src="../assets/app.js"></script>
    <script type="text/javascript" src="../assets/plugins/datepicker.js"></script>
	  <script type="text/javascript" src="../assets/plugins/circles-master.js"></script>
    <script type="text/javascript" src="../assets/forms/reg.js"></script>
    <script type="text/javascript" src="../assets/forms/checkout.js"></script>
  </head>

  <!-- Display a dismissable notice to display important information -->
  <% if flash[:notice] %>
  <div class = "success_msgs">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Information! </strong><%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <!-- Display a dismissable warning to display errors -->
  <% if flash[:alert] %>
  <div class = "error_msgs">
   <div class="alert alert-warning alert-dismissible" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <strong>Warning! </strong><%= flash[:alert] %>
   </div>
  </div>
  <% end %>
  <!-- JS to fade out error messages and warnings after a period of time -->
    <script>
     setTimeout("$('.error_msgs').fadeOut('slow')", 5000)
     setTimeout("$('.success_msgs').fadeOut('slow')", 3000)
    </script>

<%= yield %>

  </body>

</html>
